@model BookViewModel

<h1>Thank you for booking</h1>

<div class=" card-body card form-group">
    <div class=" card">
        <strong>Name:@Model.Name</strong>
        <strong>Email:@Model.Email</strong>
        <strong>Rooms:@Model.NumOfRooms</strong>
        <strong>Hotel:@Model.Hotel</strong>
    </div>
</div>
