@model HotelApp.Models.BookViewModel

<h1>Book a Room</h1>

<form method="post">
    <div class="form-group">
        <label for="Hotel"></label>
        <input type="hidden" class="form-control" id="Hotel" name="HotelId" value="@Model.HotelId" readonly />
    </div>
    <div class="form-group">
        <label for="Hotel">Hotel</label>
        <input type="text" class="form-control" id="Hotel" name="HotelId" value="@Model.Hotel" readonly />
    </div>
    <div class="form-group">
        <label for="RoomType">Room Type</label>
        <select class="form-control" id="RoomType" name="RoomType" required onchange={UpdatePrice()}>
            <option value="Single">Single</option>
            <option value="Double">Double</option>
            <option value="Suite">Suite</option>
        </select>
    </div>
    <div class="form-group">
        <label for="CheckIn">Check-In Date</label>
        <input type="date" class="form-control" id="CheckIn" name="CheckIn" required />
    </div>
    <div class="form-group">
        <label for="CheckOut">Check-Out Date</label>
        <input type="date" class="form-control" id="CheckOut" name="CheckOut" required />
    </div>
    <div class="form-group">
        <label for="Price">Price per Night</label>
        <input type="number" class="form-control" id="Price" name="Price" value="@Model.Price" readonly />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Book</button>
</form>

<script>
    let basePrice = @Model.Price;

    function UpdatePrice(){
        const selectedRoom = document.getElementById("RoomType");
        const ShownPrice = document.getElementById("Price");

        let newPrice = basePrice;
        if(selectedRoom.value === "Double"){
            newPrice = basePrice * 1.2;
        } else if(selectedRoom.value === "Suite"){
            newPrice = basePrice * 1.5;
        }
        ShownPrice.value = newPrice;
    }

</script>